/* General Demo Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
	font-family: 'fontawesome';
	src:url('../fonts/fontawesome.eot');
	src:url('../fonts/fontawesome.eot?#iefix') format('embedded-opentype'),
		url('../fonts/fontawesome.svg#fontawesome') format('svg'),
		url('../fonts/fontawesome.woff') format('woff'),
		url('../fonts/fontawesome.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body, html { font-size: 100%; 	padding: 0; margin: 0;}

/* Reset */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #47a3da;
}
a {
	color: #f0f0f0;
	text-decoration: none;
}
.main,
.container > header {
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
	padding: 0 1.875em 3.125em 1.875em;
}
.main > section button {
	border: none;
	background: #47a3da;
	color: #fff;
	opacity:0.2;
	padding: 1.5em;
	display: block;
	width: 10%;
	cursor: pointer;
	margin: 10px 0;
	font-size: 0.8em;
	float:left;
	top:190px;
	position:fixed;
	
}





